@import "normalize.css";

:root {
    --primary-color: #fe2c55;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --black: #000;
    --white: #ffffff;
    --text-color: rgb(22, 24, 35);
    --search-height: 4.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 52.5%;
}

body {
    font-family: "TikTokFont", sans-serif;
    font-size: 1.6rem;
    list-style: 1.5;
    text-rendering: optimizeSpeed;
    color: --text-color;
}

// Fonts embedded
@font-face {
    font-family: "TikTokFont";
    src: url("/assets/fonts/TikTokFont-Regular.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "TikTokFont";
    src: url("/assets/fonts/TikTokFont-Semibold.woff2");
    font-weight: 500;
}
@font-face {
    font-family: "TikTokFont";
    src: url("/assets/fonts/TikTokFont-Bold.woff2");
    font-weight: 700;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: "TikTokFont";
}

a[href] {
    color: --text-color;
    text-decoration: none;
}

// Custom tippy tooltip
body {
    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.375;
        border-radius: 8px;
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
