.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}
// Menu
.menu-items {
    width: 224px;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 100rem;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}

// more btn
.more-btn {
    padding: 4px 8px;
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    min-width: auto;
    cursor: pointer;
}

// Inbox icon
.inbox-btn {
    position: relative;

    &::before {
        content: "3";
        position: absolute;
        top: 0;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        color: #fff;
        font-size: 1.4rem;
        border-radius: 100rem;
        background: rgb(254, 44, 85);
    }
}
